





h4,p{
    color:gray;
}


.carousel-inner img {
    width: 100%;
}

.btn
{
    color: gray;
    border: 2px solid gainsboro;
    border-radius: 15px;
    

}
#introduce
{
    color: gray;
}
.navbar
{
    background-color: darksalmon;
}
.nav-link
{
    background-color: darksalmon;
}

.card
{
    border-radius: 15px;
    
}


.icon {
    width: 32px;
    height: 32px;
}

hr {
    text-align: center;
    border: double gray;
    width: 100%;
    margin: 0;
}

.card {
    margin: auto;
    margin-bottom: 20px;
}

p {
    text-indent: 2em;
    color:gray;
}

.margin {
    margin: 0;
}

.padding {
    padding: 4px;
}

.footer-img {
    width: 40%;
    padding: 15px 15px;
}

body {
    overflow-x: hidden;
}

.map {
    width: 100%;
    height: 500px;
    border:  gray solid 1px;
}

.logo {
    width: 40px;
    height: 40px;
}

.message {
    width: 100%;
    min-height: 300px;
    text-align: center;
}

.table tr td:first-child img {
    width: 60px;
    height: 60px;
}

.detail {
    width: 100%;
}